<div>
    <h2>My Info</h2>
    <div ng-if="$ctrl.user">
        <p>First Name: {{$ctrl.user.firstName}}</p>
        <p>Last Name: {{$ctrl.user.lastName}}</p>
        <p>Email: {{$ctrl.user.email}}</p>
        <p>Phone: {{$ctrl.user.phone}}</p>
        <div ng-if="$ctrl.favoriteItem">
            <h3>Favorite Menu Item</h3>
            <img ng-src="{{$ctrl.favoriteItem.image_url}}" alt="{{$ctrl.favoriteItem.name}}" />
            <p>Name: {{$ctrl.favoriteItem.name}}</p>
            <p>Description: {{$ctrl.favoriteItem.description}}</p>
        </div>
    </div>
    <div ng-if="!$ctrl.user">
        <p>Not Signed Up Yet. <a ui-sref="signup">Sign up Now!</a></p>
    </div>
</div>
